.popup__close {
    background-image: url(../../../image/CloseIcon.svg);
    position: absolute;
    top: -39px;
    right: -39px;
    width: 32px;
    height: 32px;
    background-color: rgba( 0, 0, 0, 0);
    border: 0;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6000000238418579;
}

@media screen and (max-width:620px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        right: 0;
        top: -36px;
        margin: 0;
        padding: 0;
    }
}